body{
    background-image: url('/home/nitin/Documents/Css/Images/Background.JPEG');
    background-repeat:no-repeat;
    background-position:  left top;
    background-size: 500px;
    background-attachment: fixed;

}
p{
    border-style: dotted dashed solid double;
    color: rgb(45, 236, 6);
    border-color: aquamarine;
    border-right: solid #000000;
}
.center_div{
    border: 1px solid gray;
    border-top-width: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: max-content;
    margin-left: 45%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;

}